<template>
  <div class="products">
    <div class="container">
      <h1>User View</h1>
      <br><br>
    </div>
    <b-container>
        <div class="user-row">
            <div class="user-field">
                <b>Name:</b>
            </div>
            <div class="user-field">
                {{user.name}}
            </div >
        </div>
        <div class="user-row">
            <div class="user-field">
                <b>Last Name:</b>
            </div >
            <div class="user-field">
                {{user.lastname}}
            </div >
        </div>
        <div class="user-row">
            <div class="user-field">
                <b>Username:</b>
            </div>
            <div class="user-field">
                {{user.username}}
            </div >
        </div>
        <div class="user-row">
            <div class="user-field">
                <b>Identification:</b>
            </div>
            <div class="user-field">
                {{user.identification}}
            </div>
        </div>
        <div class="user-row">
            <div class="user-field">
                <b>Age:</b>
            </div>
            <div class="user-field">
                {{user.age}}
            </div>
        </div>
        <div class="button-container">
            <b-button v-b-modal.modal-1 id="button-add">Add User</b-button>
            <b-modal id="modal-1" title="Add User">
                <p class="my-4">Add User!</p>
            </b-modal>
            <b-button v-b-modal.modal-2 id="button-delete">Delete User</b-button>
            <b-modal id="modal-2" title="Delete User">
                <p class="my-4">Delete User!</p>
            </b-modal>
        </div>
    </b-container>
    <br>
    <br>
    <b-container>
      <b-row>
        <b-col cols="3" >

        </b-col>
        <b-col cols="3" >

        </b-col>
      </b-row>
    </b-container>

  </div>
</template>

<script>
// import { Api } from '@/Api'

// Shop vue

export default {
  name: 'Products',
  data() {
    return {
      user: {
        name: 'Jose',
        lastname: 'Viteri',
        username: 'javiteri',
        identification: '0951698554',
        age: 27
      }
    }
  },
  computed: {

  },
  mounted() {
    // this.getProducts()
    // this.getOrders()
  },
  methods: {
    //
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.products {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2em;
}
.box {
  margin-top: 1em;
}

.button-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.user-row {
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}

.user-field {
    display: inline-block;
    min-width: 100px;
    margin: 5px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#button-add {
    margin-right: 5px;
}

#button-delete {
    margin-left: 5px;
}

</style>
